@model List<SignalR_WebUI.Dtos.ReservationDtos.ResultReservationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}



<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Reservation Transactions</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Reservation List</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can make Reservation transactions from the table below
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Reservation Name</th>
                                    <th scope="col">Reservation Phone</th>
                                    <th scope="col">Reservation Email</th>
                                    <th scope="col">Reservation Person Count</th>
                                    <th scope="col">Reservation Date</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ReservationID</td>
                                        <td>@item.ReservationName</td>
                                        <td>@item.ReservationPhone</td>
                                        <td>@item.ReservationEmail</td>
                                        <td>@item.ReservationPersonCount</td>
                                        <td>@item.ReservationDate</td>
                                        <td><a href="/Reservation/DeleteReservation/@item.ReservationID" class="btn btn-danger">Delete</a></td>
                                        <td><a href="/Reservation/UpdateReservation/@item.ReservationID" class="btn btn-primary">Edit</a></td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                        <td><a href="/Reservation/CreateReservation/" class="btn btn-success">Add New Reservation</a></td>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
