@model List<SignalR_WebUI.Dtos.FeatureDtos.ResultFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}



<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Feature Transactions</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Feature List</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can make Feature transactions from the table below
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Feature Title1</th>
                                    <th scope="col">Feature Description1</th>
                                    <th scope="col">Feature Title2</th>
                                    <th scope="col">Feature Description2</th>
                                    <th scope="col">Feature Title3</th>
                                    <th scope="col">Feature Description3</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FeatureID</td>
                                        <td>@item.FeatureTitle1</td>
                                        <td>@item.FeatureDescription1</td>
                                        <td>@item.FeatureTitle2</td>
                                        <td>@item.FeatureDescription2</td>
                                        <td>@item.FeatureTitle3</td>
                                        <td>@item.FeatureDescription3</td>

                                        <td><a href="/Feature/DeleteFeature/@item.FeatureID" class="btn btn-danger">Delete</a></td>
                                        <td><a href="/Feature/UpdateFeature/@item.FeatureID" class="btn btn-primary">Edit</a></td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                        <td><a href="/Feature/CreateFeature/" class="btn btn-success">Add New Feature</a></td>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>